body {background-color: rgb(245, 175, 83);}
h1{color: rgb(255, 0, 0);
font-size:22px; 
text-align: center;}
.t1{color: #ff0000;}
.t2{color: rgb(0, 255, 98);}
.t3{color: rgb(247, 0, 255);}
.t4{color: rgb(255, 251, 0);}
.t5{color: #00ffff;}
.t6{color: #9900ff;}
.t7{color: #e7ffa4;}
.t8{color: #ff00aa;}
.t9{color: #689dff;}
.t10{color: #008040;}
.t11{color: #ff0000;}
.t12{color: #8422aa;}
.t13{color: #12999e;}

.png1{width:500px; height: 200px; 
margin-right:300px ;}
.png2{width:500px; height: 200px; ;}
.U{color: rgb(100, 16, 131);
    font-size: 40px;}